<article>
  <a href="/Gamelist"> &larr; Back to Gamelist</a>
  <h2>
    Edit list
  </h2>
  <form class="edit-gamelist-form">
    <input class="" name="gamelist-title" type="text" value="{{gamelists.title}}" />
    <button class="" type="submit">Save Gamelist</button>
  </form>

  {{#each gamelists.games as |game|}}
  <form class="edit-game-form" id="{{game.id}}">
    <div class="row">
      <input class="col s8 m9 l5" id="id_{{game.id}}" name="game-title" type="text" value="{{game.game_title}}" />
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons">save</i>
      </button>
      <a class="waves-effect waves-light btn delete-game" id="id_{{game.id}}">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </form>
  {{/each}}
  <form class="add-game-form">
    <div class="row">
      <input class="col s8 m9 l5" name="newgame-title" type="text" value="Game Title" />
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons">add</i>
      </button>
    </div>
  </form>
  <br>
  <button type="button" class="delete-gamelist-btn">Delete list</button>
</article>


<script src="/javascript/add-game.js"></script>
<script src="/javascript/edit-game.js"></script>
<script src="/javascript/delete-game.js"></script>
<script src="/javascript/edit-gamelist.js"></script>
<script src="/javascript/delete-gamelist.js"></script>